.response{

 	/*background: #002395;
 	color: @sms-white;*/
	border-radius: 10px;
	padding: 10px;
	
	margin: 10px 0;
	cursor: pointer;

	background: @sms-light-gray;
	color: @sms-black;

	&:hover{
		background: @sms-light-gray;
		color: @sms-black;
	}


	&:first-child{
		margin-right: 1%;
	}
	&:last-child{
		margin-left: 1%;
	}


}