@import (inline) "../../node_modules/bootstrap/dist/css/bootstrap.css";
@import (inline) "../../node_modules/bootstrap/dist/css/bootstrap-theme.css";
@import "variables.less";
@import "../app/components/game/game.less";


.container{

	background-color: @sms-white;
	border: 1px solid 
	width: 100vw;
	height: 100vh;

}