 .sms{
 	margin-top: 10px;

 	.separate{
 		margin-top: 8px;
 		border-top: 2px solid @sms-light-gray;
 		text-align: center;
 		span{
 			position: relative;
 			top: -11px;
 			background: @sms-white;
 			font-size: 12px;
 			padding-left: 10px;
 			padding-right: 10px;
 			color: @sms-dark-gray;
 		}

 	}

 	&.user-france{
 		.message{
 			background-color: #002395;
 			color: @sms-white;
 		}
 		.avatar{
 			background-image: url('/assets/images/flag-france.jpg');
 		}
 	}

 	&.user-germany{
 		.message{
 			background-color: #fe0000;
 			color: @sms-white;
 		}
 		.avatar{
 			background-image: url('/assets/images/flag-germany.jpg');
 		}
 	}

 	&.user-italy{

		.message{
 			background-color: #00a059;
 			color: @sms-white;
 		}
 		.avatar{
 			background-image: url('/assets/images/flag-italy.jpg');
 		}
 	}

 	&.user-ue{

		.message{
 			background-color: #ffff00;
 			color: @sms-black;
 		}
 		.avatar{
 			background-image: url('/assets/images/flag-eu.jpg');
 		}
 	}

 	&.user-hungary{

		.message{
 			background-color: #f1c30c;
 			color: @sms-black;
 		}
 		.avatar{
 			background-image: url('/assets/images/flag-hungary.jpg');
 		}
 	}

 	&.user-greece{

		.message{
 			background-color: #0d5eaf;
 			color: @sms-white;
 		}
 		.avatar{
			background-image: url('/assets/images/flag-greece.jpg');
 		}
 	}

 	&.user-uk{

		.message{
 			background-color: #cc1224;
 			color: @sms-white;
 		}
 		.avatar{
			background-image: url('/assets/images/flag-uk.jpg');
 		}
 	}

 	&.user-usa{

		.message{
 			background-color: #090848;
 			color: @sms-white;
 		}
 		.avatar{
			background-image: url('/assets/images/flag-usa.jpg');
 		}
 	}

 	&.user-syria{

		.message{
 			background-color: #009a59;
 			color: @sms-white;
 		}
 		.avatar{
			background-image: url('/assets/images/flag-syria.jpg');
 		}
 	}

 	.user{
 		.avatar{
 			display: inline-block;
	 		border-radius: 50%;
	 		width: 32px;
	 		height: 32px;
	 		
	 		/*border: 1px solid @sms-light-gray;*/
	 		float: left;
	 		margin-right: 5px;
	 		overflow: hidden;
 		}
 		line-height: 32px;
 		height: 32px;
 		margin-bottom: 5px;
 		font-weight: bold;

 	}
 	.message {
 		background: @sms-light-gray;
	 	border-radius: 10px;
	 	display: inline-block;
	 	padding: 10px;
	 	max-width: 70%;


	 	&:after {
		    	content: "";
		    position: absolute;
		    bottom: -20px;
		    left: 40px;
		    border-width: 20px 20px 0;
		    border-style: solid;
		    border-color: #5a8f00 transparent;
		    display: block;
		    width: 0;
		}
	 	
 	}
 	

 	&.left{
 		/*margin-right: 20%;*/

 		.message {
 			border-top-left-radius: 0;
 			margin-left: 32px;
 		}
 		
 	}

 	&.right{
 		/*margin-left: 20%;*/
 		text-align: right;
 		.message {
 			border-top-right-radius: 0;
 			margin-right: 37px;
 			text-align: left;
 		}
 		.user{
 			position: relative;
 			padding-right: 40px;
 			text-align: right;
 			.avatar{
 				position: absolute;
 				right: 0;
 			}
 		}
 		
 	}

 }
 